<div class="contact" id="my-contact">
    <div class="contact-headings">
        <h1>GET IN TOUCH</h1>
        <div class="icon">
            <img src="https://img.icons8.com/android/44/4a90e2/gmail-login.png"/>
        </div>
        <h2>FEEL FREE TO CONTACT OR ANY QUREY</h2>
    </div>
    <form action="https://formspree.io/f/mbjqlnge" method="POST" id="form">
        <div class="form-inp">
            <input type="text" name="username" placeholder="your name" spellcheck="false">
            <input type="email" name="email" placeholder="Your email" spellcheck="false">
        </div>
        <div class="form-messege">
            <textarea name="message" id="" cols="30" rows="7" spellcheck="false"></textarea>
        </div>
        <div class="form-btn">
            <button id="btn">Submit</button>
        </div>
    </form>
</div>